body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal {
    width: 90%;
    max-width: 600px;
}

/* Esconde todas as telas por padrão */
.tela {
    display: none;
}

/* A tela que tiver a classe 'ativa' será exibida */
.tela.ativa {
    display: block;
}

input {
    background: #000;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: monospace;
}

button {
    background: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}
