body { background-color: #000; color: #0f0; font-family: 'Courier New', monospace; padding: 20px; }
.tela { display: none; }
#boot-screen { display: block; }

input { 
    background: black; border: 1px solid #0f0; color: #0f0; 
    padding: 10px; font-family: monospace; font-size: 1.2rem;
}
button { 
    background: #0f0; color: black; border: none; padding: 10px; cursor: pointer;
}
